<div id="friend-lookup">
    <h3><%= t(".title") %></h3>
    <%= form_tag search_friends_path, remote: true, method: :get, id: 'friend-lookup-form' do %>
        <div class="form-group row no-padding text-center col-md-12">
            <div class="col-md-10" style="margin-bottom: 15px;">
                <%= text_field_tag :search_param, params[:search_param], placeholder: t('.search_placeholder'), autofocus: true,
                                                                        class: "form-control search-box input-lg" %>
            </div>
            <div class="col-md-2">
                
                <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
                    <i class="fa fa-search"></i> <%= t '.search_btn' %>
                <% end %>
            </div>
        </div>
    <% end %>
    <%= render 'shared/spinner' %>
    <%# debugger %>
    <% if @users %>
        <% if @users.size > 0 %>
            <div id="friend-lookup-results" class="well results-block col-md-10">
                <table class="search-results-table table table-striped">
                    <thead>
                        <tr>
                            <th><%= User.human_attribute_name(:full_name) %></th>
                            <th><%= User.human_attribute_name(:email) %></th>
                            <th><%= t('actions') %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.each do |user| %>
                        <tr>
                            <td><%= user.full_name %></td>
                            <td><%= user.email %></td>
                            <td><%= link_to t("view"), user_path(user),
                                                        class: "btn btn-xs btn-primary" %>&nbsp;
                                <% if current_user.not_friend_with?(user) %>
                                    <%= link_to t("follow"), add_friend_path(friend_id: user), 
                                                            class: "btn btn-xs btn-success", 
                                                            method: :post %>
                                <% else %>
                                    <span class="label label-default"><%= t('following') %></span>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
    <% end %>
    <div id="friend-lookup-errors"></div>
</div>