<div id="friend-lookup">
    <h3>Search for friends</h3>
    <%= form_tag search_friends_path, remote: true, method: :get, id: 'friend-lookup-form' do %>
        <div class="form-group row no-padding text-center col-md-12">
            <div class="col-md-10" style="margin-bottom: 15px;">
                <%= text_field_tag :search_param, params[:search_param], placeholder: "First name, Last name, or Email", autofocus: true,
                                                                        class: "form-control search-box input-lg" %>
            </div>
            <div class="col-md-2">
                
                <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
                    <i class="fa fa-search"></i> Look up a friend
                <% end %>
            </div>
        </div>
    <% end %>
    <%= render 'shared/spinner' %>
    <% if @users %>
        <div id="friend-lookup-results" class="well results-block col-md-10">
            <table class="search-results-table table table-striped">
                <thead>
                    <tr>
                        <th>Full name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for @users.each do |user| %>
                    <tr>
                        <td>user.full_name</td>
                        <td>user.email</td>
                        <td><%= link_to "View", user_path(user) %>&nbsp;
                            <% if current_user.not_friend_with? %>
                                <%= link_to "Follow", friendships_path(user),
                                        class: "btn btn-xs btn-success", method: :post %>
                            <% end %>            
                        </td>
                    </tr>
                    <% end %>
                </tbody>
                <tr>
                    
                </tr>
            </table>
          
                <%= link_to "Add to my portfolio", user_friends_path(user: current_user, friend_ticker: @friend.ticker, friend_id: @friend.id ? @friend.id : ""),
                    class: "btn btn-xs btn-primary", method: :post %>
            <% else %>
                <span class="label label-default">
                    friend can not be added because you have already added 
                    <% if !current_user.under_friend_limit? %>
                        10 friends.
                    <% end %>
                    <% if current_user.friend_already_added?(@friend.ticker) %>
                        this friend.
                    <% end %>
                </span>
            <% end %>
        </div>
    <% end %>
    <div id="friend-lookup-errors"></div>
    
</div>