<div id="stock-lookup">
    <h3><%= t(".title") %></h3>
    <%= form_tag search_stocks_path, remote: true, method: :get, id: 'stock-lookup-form' do %>
        <div class="form-group row no-padding text-center col-md-12">
            <div class="col-md-10" style="margin-bottom: 15px;">
                <%= text_field_tag :stock, params[:stock], placeholder: t(".stock_placeholder"), autofocus: true,
                                                                        class: "form-control search-box input-lg" %>
            </div>
            <div class="col-md-2">
                
                <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
                    <i class="fa fa-search"></i> <%= t ".search_btn" %>
                <% end %>
            </div>
        </div>
    <% end %>
    <%= render 'shared/spinner' %>
    <% if @stock %>
        <div id="stock-lookup-results" class="well results-block">
            <strong><%= Stock.human_attribute_name(:ticker) %>:</strong> <%= @stock.ticker %>
            <strong><%= Stock.human_attribute_name(:name) %>:</strong> <%= @stock.name %>
            <strong><%= Stock.human_attribute_name(:current_price) %>:</strong> <%= @stock.price %>
            <% if current_user.can_add_stock?(@stock.ticker) %>
                <%= link_to t(".add_to_my_portfolio"), user_stocks_path(user: current_user, stock_ticker: @stock.ticker, stock_id: @stock.id ? @stock.id : ""),
                    class: "btn btn-xs btn-primary", method: :post %>
            <% else %>
                <span class="label label-default">
                    
                    <% if !current_user.under_stock_limit? %>
                        <%= t(".stock_over_limit") %>
                    <% end %>
                    <% if current_user.stock_already_added?(@stock.ticker) %>
                        <%= t(".stock_already_added") %>
                    <% end %>
                </span>
            <% end %>
        </div>
    <% end %>
    <div id="stock-lookup-errors"></div>
    
</div>